@use "introduction";
@use "project";
@use "virtual_business_card";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

$mobile-breakpoint-width: 480px;
$tablet-breakpoint-width: 768px;
$notebook-breakpoint-width: 1280px;

@media screen and (max-width: $notebook-breakpoint-width) {
  :root {
    font-size: 80%;
  }
}

div.swiper-container {
  width: 100vw;
  height: 100vh;
}

div.swiper-project-container {
  width: 100vw;

  div.swiper-scrollbar {
    position: fixed;
    height: .6rem;
  }
}

span.section-title {
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.25rem;

  word-break: keep-all;

  position: absolute;
  top: 3rem;
}