@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

div.swiper-container {
  width: 100vw;
  height: 100vh;
}

div.swiper-project-container {
  width: 100vw;

  div.swiper-scrollbar {
    position: fixed;
    height: .6rem;
  }
}

div.introduction {
  display: flex;
  height: 100vh;
  margin: auto auto auto 64px;
  overflow: hidden;

  div.about-components {
    background: white;
    border-radius: 0 50vh 50vh 0;
    box-shadow: 20px 0 0 0 rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: max(calc(31rem + 30vh), calc(100vw - 40rem));
    z-index: 1;

    h3 {
      font-size: 3rem;
      font-weight: 700;
    }

    span {
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  img {
    position: absolute;
    // bottom: 0;
    transform: translateY(calc(100vh - 100%));
    right: 0;
    max-width: calc(100vw - 64px - max(calc(31rem + 30vh), calc(100vw - 39rem)) + 50vh);
    min-height: 100vh;
  }
}

div.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  font-family: Pretendard;

  span.project-title {
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.25rem;

    position: absolute;
    top: 3rem;
  }

  div.project-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    gap: 1.25rem;

    img.project-image {
      border-radius: 1rem;
      height: 24rem;
    }

    div.project-wrapper-content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      min-height: 24rem;

      span.project-name {
        text-align: center;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.25rem;
      }

      span.project-description {
        display: block;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }

      span.project-date {
        display: block;
        font-size: 1.0rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: .8rem;
      }

      div.project-button-group {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: auto !important;

        gap: 1.25rem;

        a.project-button {
          padding: .75rem 1.6rem;
          border-radius: 1rem;
          background: #D9D9D9;
          color: #000;

          font-size: 1.8rem;
          font-style: normal;
          font-weight: 600;
          line-height: 100%;
          text-decoration: none;

          transition: all 0.3s ease-in-out;

          &:hover {
            background: #808080;
            color: #EEE;
          }
        }
      }
    }
  }
}

div.virtual-business-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

div.business-card {
  align-content: space-between;
  border: black solid 3px;
  border-radius: 2.88rem;

  display: flex;
  margin: 2.16rem;
  flex-wrap: wrap;
  position: relative;

  width: 36.45rem;
  height: 58.05rem;
  font-family: Pretendard;

  transition: all 0.1s;

  div.business-card-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin: 2.16rem;
    width: 100%;
    height: 8.64rem;
    justify-content: center;

    span.business-card-header-title {
      color: #0070EE;
      font-size: 5.67rem;
      font-weight: 700;
      word-wrap: break-word;
      line-height: 5.67rem;
    }

    span.business-card-header-subtitle {
      color: black;
      font-size: 2.7rem;
      font-weight: 700;
      word-wrap: break-word;
      line-height: 2.7rem;
    }

    img.business-card-qrcode {
      width: 8.64rem;
      height: 8.64rem;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  div.business-card-footer {
    display: flex ;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 2.16rem;
    width: 100%;

    span.business-card-footer-title {
      color: black;
      font-size: 3.24rem;
      font-weight: 700;
      line-height: 3.51rem;
      word-wrap: break-word;
    }

    div.business-card-item {
      display: flex;
      align-items: center;
      flex-direction: row;

      i {
        font-size: 2.805rem;
      }

      a {
        color: black;
        margin: 0 0 0 1.2rem;
        text-decoration: none;
        font-size: 2.16rem;
        font-weight: 600;
        line-height: 3.51rem;
        word-wrap: break-word;
      }
    }
  }

  div.divider {
    border-radius: 1.5px;
    background: #000000;
    height: 3px;
    width: 100%;
    margin: .81rem 0 2.22rem 0;
  }
}