div.introduction {
  display: flex;
  height: 100dvh;
  overflow: hidden;

  @media screen and (max-aspect-ratio: 1/1) {
    margin: 0;
    word-break: keep-all;

    display: flex;
    flex-direction: column-reverse;

    span {
      display: contents;
    }

    img {
      position: absolute;
      right: 0;
      min-width: 80%;
      min-height: 80%;
      max-width: 120vw;
      transform: translateY(-22rem);
    }

    div.about-components {
      padding: 2rem 0.8rem;
      box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.25);
      width: 100vw;
    }
  }

  @media screen and (min-aspect-ratio: 1/1) {
    margin: auto auto auto 4rem;

    span {
      display: block;
    }

    img {
      position: absolute;
      transform: translateY(calc(100dvh - 100%));
      right: 0;
      max-width: calc(100vw - 64px - max(calc(31rem + 30vh), calc(100vw - 39rem)) + 50vh);
      min-height: 100dvh;
    }

    div.about-components {
      border-radius: 0 50vh 50vh 0;
      box-shadow: 20px 0 0 0 rgba(0, 0, 0, 0.25);
      height: 100vh;
      width: max(calc(31rem + 30vh), calc(100vw - 40rem));
    }
  }

  div.about-components {
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    z-index: 1;

    h3 {
      font-size: 3rem;
      font-weight: 700;
    }

    span {
      font-size: 1.5rem;
      font-weight: 600;
    }

    div.sns-group {
      margin-top: 1.87rem;
      border-radius: 1.125rem;
      border: 3px solid #000;
      background: #FFF;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: hidden;

      a.sns-item {
        color: black;
        font-size: 1.6rem;

        width: 50px;
        height: 50px;
        padding: .5rem;

        text-decoration: none;

        box-shadow: inset 0 0 0 0 black;
        transition: ease-out 0.5s;

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 34px;

        &:hover {
          box-shadow: inset 0 -50px 0 0 black;
          cursor: pointer;

          &:nth-child(1) {
            color: white;
          }
          &:nth-child(2) {
            color: #7289DA;
          }
          &:nth-child(3) {
            color: #d6249f;
          }
          &:nth-child(4) {
            color: #0e76a8;
          }
          &:nth-child(5) {
            color: #0070EE;
          }
        }
      }
    }
  }
}