div.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  font-family: Pretendard;

  @media screen and (max-aspect-ratio: 1/1) {
    gap: 1.44rem;

    span.section-title {
      position: relative;
      top: 0;
    }

    div.project-wrapper {
      flex-direction: column;
      max-height: calc(100vh - 200px);

      img.project-image {
        max-width: 100%;
        max-height: 30vh; // 24rem;
        object-fit: cover;
        object-position: bottom;
      }

      div.project-wrapper-content {
        height: 100vh;

        span.project-description {
          display: -webkit-box !important;
          -webkit-box-orient: vertical;
          overflow: hidden;
          // -webkit-line-clamp: "block-ellipsis"; // calc(100vh - 200px - 41.3rem);
        }

        a.project-description-more-button {
          display: block;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;

          text-align: right;
          text-decoration: none;
          color: #303030;

          &:hover {
            color: #303030;
          }
        }

        div.project-button-group {
          flex-direction: column;
          gap: 1rem;
        }

        a.project-button {
          font-size: 1.6rem !important;
          text-align: center;
        }
      }
    }
  }

  @media screen and (min-aspect-ratio: 1/1) {
    div.project-wrapper {
      flex-direction: row;

      div.project-wrapper-content {
        min-height: 24rem;
      }

      img.project-image {
        height: 24rem;
      }

      div.project-button-group {
        flex-direction: row;
        gap: 1.25rem;
      }

      a.project-description-more-button {
        display: none;
      }
    }
  }

  div.project-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    gap: 1.25rem;

    img.project-image {
      border-radius: 1rem;
    }

    div.project-wrapper-content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      span.project-name {
        text-align: center;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.25rem;
      }

      span.project-description {
        display: block;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }

      span.project-date {
        display: block;
        font-size: 1.0rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: .8rem;
      }

      div.project-button-group {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: auto !important;

        a.project-button {
          padding: .75rem 1.6rem;
          border-radius: 1rem;
          background: #D9D9D9;
          color: #000;

          font-size: 1.8rem;
          font-style: normal;
          font-weight: 600;
          line-height: 100%;
          text-decoration: none;

          white-space: nowrap;

          transition: all 0.3s ease-in-out;

          &:hover {
            background: #808080;
            color: #EEE;
          }
        }
      }
    }
  }
}